<!DOCTYPE html>
<html lang="en" dir="rtl">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>ورود به سیستم</title>
		<link
			rel="stylesheet"
			href="../static/node_modules/bootstrap/dist/css/bootstrap.min.css" />
		<style>
			.login-container {
				max-width: 500px;
				margin: 50px auto;
				padding: 15px;
				border: 1px solid #ddd;
				border-radius: 5px;
				box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
			}
		</style>
	</head>
	<body>
		<div class="container">
			<div class="login-container p-5">
				<h2 class="text-center m-3">ورود به سیستم</h2>
				<form method="post" action="/">
					<div class="mb-3 row">
						<label
							for="exampleInputEmail1"
							class="col-sm-4 col-form-label text-end"
							>اسم</label
						>
						<div class="col-sm-8">
							<input
								type="text"
								class="form-control mt-3"
								id="exampleInputEmail1"
								name="name"
								aria-describedby="emailHelp"
								required />
						</div>
					</div>
					<div class="mb-3 row">
						<label
							for="exampleInputPassword1"
							class="col-sm-4 col-form-label text-end"
							>رمز عبور</label
						>
						<div class="col-sm-8">
							<input
								type="password"
								name="password"
								class="form-control"
								id="exampleInputPassword1"
								required />
						</div>
					</div>
					<button type="submit" class="btn btn-primary w-100">
						ورود به سیستم
					</button>
					<a href="{{url_for('change')}}" class="btn btn-warning mt-2 w-100"
						>تغیر رمز یا اسم</a
					>
				</form>
			</div>
		</div>

		<script src="../static/node_modules/@popperjs/core/dist/umd/popper.min.js"></script>
		<script src="../static/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
	</body>
</html>
